# Build output
build/
export/
dist/

# Temporary files
*.tmp
*.log

# System files
.DS_Store
Thumbs.db

# Node modules (if your CT.js project uses npm packages)
node_modules/

# CT.js project backups
*.bak
*.backup

# Environment files
.env

# Ignore .piskel and .gimp
Assets/Art/*.piskel
Assets/Art/*.xcf
Assets/Art/*.gif

# Ignore References folder
References/

Collector/Exported/
